/* ======================
      Navigation bar
   ======================
*/

* {
  font-weight: normal;
}


/* ======================
        Footer
   ======================
*/

.request {
  background-color: #327374;
  border: none;
}

.navbar>a {
  color: black;
}

/* ======================
        Login
   ======================
*/

.email-input {
  border: 1px solid #7AD3BB !important;

}

.password-input {
  border: 1px solid #7AD3BB !important;

}

.login-btn {
  background-color: #7AD3BB !important;
  color: white !important;
}

.signup-btn {
  color: #327374 !important;
}

/* ======================
      Complete profile
   ======================
*/

.buddyProfile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);

}

.form {
  background-color: rgb(240, 236, 236);
  padding-top: 46px;
  border-radius: 0.5em;
  margin-top: 50px;
  padding: 20px;
  display: grid;
}

.title-complete-profile {
  padding-bottom: 0.6em;
  text-align: center;
}

.alert {
  text-align: center !important;
}

.form-title {
  padding-top: 0.8em;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.btn {
  margin-top: 2.3em;
  display: flex !important;
  justify-content: center !important;
  width: 30%;
}

.btn-submit {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* ======================
        Index
   ======================
*/

.card-text.amount {
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.card-text.amount>div {
  width: 350px;
  text-align: center;
  border-radius: 3px;
}

.amount-students {
  background-color: #A9D7CC;
  border-radius: 3px;
}

.amount-students>p {
  padding: 10px;
}

.amount-buddies {
  background-color: #A9D7CC;
  border-radius: 3px;
}

.amount-buddies>p {
  padding: 10px;
}

.profileMatchesByFilters {
  background-color: #DEEDE5 !important;
  margin-left: 20px;
  margin-right: 20px;
}

.row-test {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  flex-wrap: wrap;
  padding-bottom: 20px !important;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.col-sm-6 {
  display: flex;
  justify-content: center;
  height: 100% !important;
  width: unset !important;
  flex: unset !important;
}

.person-card {
  height: 100% !important;
  border: 3px solid #A9D7CC !important;
  max-width: 300px;
  float: right;
}

.card-body>a {
  text-decoration: none;
  color: black;
}

.card-title {
  font-weight: bold !important;
}

.card-body>ul {
  text-decoration: none;
  list-style: none;
  display: inline !important;
  padding: 0;
}

.card-body>ul>li {
  display: inline !important;
}

.chat {
  background-color: #327374 !important;
  border: none !important;
}


/* ======================
            Chat
   ======================
*/

.message p {
  border-radius: 5px;
  padding: 5px;
  width: auto;
  margin-bottom: 0;
  color: black;
}

.emojis {
  font-size: 30px;
  padding: 0;
  width: 320px;
  visibility: hidden;
  margin-top: 0px;
  float: right;
}

.emojis li {
  list-style: none;
  display: inline;
}

.reaction {
  width: 50px;
  margin-top: 0px;
  display: inline-block;
  font-size: 30px;
  color: black;
}

span {
  color: #7AD3BB;
  font-weight: bold;
}

.container {
  background-color: white !important;
  border: 1px solid #DEEDE5;
  border-radius: 4px;
}

.container-matches {
  margin-top: 3%;
  margin-left: 68px;
  margin-right: 68px;
  background-color: #DEEDE5;
  border-radius: 3px;
  padding-right: 10%;
  padding-left: 10%;
}

.display-chat {
  height: 50vh;
  margin-bottom: 4%;
  overflow: auto;
  padding: 15px;
  border-bottom: 1px solid #25474E;
}

.message {
  background-color: #DEEDE5;
  color: rgb(255, 255, 255);
  ;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3%;
  width: auto;
}

.message>p {
  background-color: #DEEDE5;
}

.profile-btn {
  background-color: #7AD3BB;
  border: unset !important;
  border-radius: 3px !important;
  text-decoration: none !important;
  color: white !important;
  height: 50px;
}

.btn-buddy {
  background-color: #7AD3BB !important;
  border: unset !important;
  border-radius: 3px !important;
}

.send-message-btn {
  background-color: #327374 !important;
  border: unset !important;
  border-radius: 3px !important;
}

/* ======================
          Search
   ======================
*/

.search {
  border: 3px solid #7AD3BB !important;
}

.title {
  color: #25474E;
  margin-top: 20px;
}

.search-btn {
  background-color: #7AD3BB !important;
  color: white !important;
}

.search-name-btn {
  background-color: #7AD3BB !important;
  color: white !important;
}

.search-name-input {
  border: 1px solid #7AD3BB !important;
}

/* ======================
          Forum
   ======================
*/

.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 19px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}

.on {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 19px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 1px;
}

.voteNumber {
  display: inline;
}

.card-body {
  min-width: 300px;
}

.on{
  background-position: 0 1px;
}

.btn {
  font-size: 0.7em !important;
  min-width: 150px !important;
  margin-bottom: 10px;
  background-color: none;
  color: blue;
}

.card {
  margin-bottom: 10px;
}

/* ======================
      Notification
   ======================
*/

.newMessages {
  width: auto;
  background-color: #7AD3BB;
  position: fixed;
  bottom: 0;
  right: 100px;
  color: white;
}

.newMessages p {
  padding-left: 20px;
}

.newMessages p:first-of-type {
  font-weight: 500;
  background-color: #327374;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ======================
          Signup
   ======================
*/

