
/* ======================
      Navigation bar
   ======================
*/


/* ======================
      Complete profile
   ======================
*/

.buddyProfile{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.form{
  background-color: rgb(226, 226, 226);
  padding-top: 46px;
  border-radius: 0.5em;
  margin-top: 100px;
  padding:20px;
}
.title-complete-profile{
  padding-bottom: 0.6em;
}
.form-title{
  padding-top: 0.8em;
  font-size: 1em;
  margin-bottom: 0.5em;
}
.btn{
  margin-top: 2.3em;
}

@media (min-width: 576px) {
 
}

@media (min-width: 992px) {
  .container{
    width: 700px !important;
  }
}